 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1><center>Dish Recommendation</center></h1>
<p><center><i>Recommending dishes that could be made with available items at home</i></center></p>
<br><br>
<center>
   <form action="/" method="POST">
  <label for="fname">Add ingredients(seperate by comma):</label>
  <input type="text" id="fname" name="fname">
  <input type="submit" value="Submit">
</form><br><br>
 <table border= "1px">
  <tr>
    <th padding= "15px">Name</th>
    <th padding= "15px">Ingredients</th>
    <th padding= "15px">Score</th>
  </tr>
  
  <tr>
    <td padding= "15px">{{res[0]}}</td>
    <td padding= "15px">{{res[1]}}</td>
    <td padding= "15px">{{res[2]}}</td>
  </tr>

</table> 
</center>

</body>
</html> 